{% load i18n %}

{% if perms.blog.add_blogpost and perms.blog.change_blogpost %}
<div class="module container-flexible">
  <h2>{% trans "Quick Blog" %}</h2>
  <div class="form-container">
    <form method="post" action="{% url admin:blog_blogpost_add %}">
      {% csrf_token %}
      <fieldset>
        <div class="row cells-1 title">
          <div class="column span-2">{{ form.title.label_tag }}</div>
          <div class="column span-flexible">{{ form.title }}</div>
        </div>
        <div class="row cells-1 content">
          <div class="column span-2">{{ form.content.label_tag }}</div>
          <div class="column span-flexible">{{ form.content }}</div>
        </div>
        {{ form.status }}
        <div class="row cells-1" style="text-align: right;">
          <input type="submit" value="{% trans "Save Draft" %}"/>
        </div>
	  </fieldset>
    </form>
  </div>
</div>
{% endif %}

